Django==5.2.4
# WSGI server
gunicorn==23.0.0
# Static files in production
whitenoise==6.7.0
# Database URL parser
dj-database-url==2.3.0
# Load .env files locally
python-dotenv==1.0.1
# PostgreSQL driver (binary, easy to install)
psycopg2-binary==2.9.9
# Project dependencies
django-allauth==65.3.0
django-widget-tweaks==1.5.0
